*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Plus Jakarta Sans";
    overflow-x: hidden;
}



.header-span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}


.headclick-1{
    width: 111px;
    height: 28px;
    color: #13183F;
}
.headclick-2{
    border-radius: 28px;
    background-color: #13183F;
    color: #FFFFFF;
    width: 168px;
    height: 59px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}



.container{
    width: 85%; 
    margin: 0 auto;       
    display: flex;
    flex-direction: column;
}

.main-text{
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}

.title{
    width: 544px;
    height: 339px;
    margin-top: 10px;
}

.title-1{
    font-weight: 800;
    font-size: 50px;
    margin-top: 110px;
}


.main-title{
    margin-top: 24px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #83869A;
}

.headclick-3{
    width: 168px;
    height: 59px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    background: linear-gradient(#FF6F48,#F02AA6);
    color: white;
    font-weight: 700;
    font-size: 18px;
}


.head-photo{
    width: 317px;
    height: 560px;
    margin-left: 168px;
}

.photo-wrapper {
    width: 544px;
    height: 560px;
    position: relative;
}


.course-card{
    background-color: white;
    border-radius: 15px;
    width: 199px;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-left: 24px;
    position: absolute;
    bottom: 87px;
    left: 50px;
    box-shadow: 0 10px 20px rgba(13, 16, 197, 0.1);
}

.course-card1{
    background-color: white;
    border-radius: 15px;
    width: 155px;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-left: 24px;
    position: absolute;
    top: 100px;
    box-shadow: 0 10px 20px rgba(13, 16, 197, 0.1);
    right: -70px;
}

.rectangle{
    position: absolute;
    bottom: 2px;
    right: -160px;
    z-index:  -1;
}



.information-box{
    background: linear-gradient(#FF6F48,#F02AA6);
    width: 480px;
    height: 350px;
    border-radius: 15px;
    margin-top: 92px;
    display: flex;
    justify-content: center;
}

.information-box1{
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(13, 16, 197, 0.1);
    width: 480px;
    height: 350px;
    border-radius: 15px;
    margin-top: 92px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.boxtitle-size{
    width: 288px;
    height: 218px;
    margin-left: 32px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 56px;
    justify-content: space-around;
}

.first-title{
    color: white;
    font-weight: 800;
    width: 288px;
    height: 144px;
    margin-top: 64px;
    margin-right: 70px;
}

.second-title{
    color: #13183F;
}


.clicker{
    margin-top: 100px;
    color: #F74780;
}


.icon{
    width: 56px;
    height: 56px;
    position: absolute;
    top: -25px;
    left: 40px;
}


.footer-end{
    background-color: #13183F;
    margin-top: 140px;
}

.bottom-list{
    width: 100%;
    height: 107px;
    padding-top: 25px;
}


.footer-span{
    display: flex;
    justify-content: space-between;
}

.headclick-4{
    color: #FFFFFF;
}

.headclick-5{
    border-radius: 28px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    color: #FFFFFF;
    width: 168px;
    height: 59px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

